
.trafficLight {
    width: 130px;
    height: 320px;
    background-color: #aaa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  

  
